:root {
  --main: #101730;
  --block: #2c3c5e;
  --white: #ffffff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

kclsu-button {
  visibility: unset !important;
}

/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

.panel__top {
  padding: 1rem;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

#blocks {
  padding: 1rem;
  background: var(--main)
}

.gjs-one-bg {
  background-color: var(--main);
}


.gjs-block {
  width: 100%;
  height: auto;
  min-height: auto;
  background: var(--block);
}

.panel__basic-actions {
  position: initial;
}

.editor-canvas {
  flex-grow: 1;
}


.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}


kclsu-button {
  visibility: visible;
}